* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  font-size: 62.5%;
}
html {
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(22, 22, 22);
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body > * {
  width: 100%;
  height: 100%;
}
/* Preloader */
#preloader {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  animation:signup-response 0.5s 1;
  -webkit-animation:signup-response 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay:2s;
  -webkit-animation-delay:4s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}
@keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}
@-webkit-keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}

header {
  position: relative;
}
header .header__portada--backgroundimg {
  background-image: url("./1010/imgs/portada_don_belisario.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 640px;
  height: 20rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 10px 0 black;
}
header .header__information {
  position: absolute;
  width: 100%;
  top: 14rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 0px 0px 0px 5px;
  max-width: 900px;
}
header .header__information .logo_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header__information .logo_button .logo {
  width: 11rem;
  height: 11rem;
  padding: 3px;
  border-radius: 100%;
  box-shadow: 1px 14px 47px 9px rgba(0,0,0,0.49);
  background-color: white;
  border: solid black 2px;
}
header .header__information .logo_button .a_container{
  padding: 75px 0px 0px 0px;
}
header .header__information .logo_button .a_container a {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
header .header__information .logo_button .whatsapp {
  background-image: url("./1010/imgs/whatsapp-svgrepo-com.svg");
}
header .header__information .logo_button .share {
  background-image: url("./1010/imgs/call-svgrepo-com.svg");
  filter: invert(1);
}
header .header__information h1 {
  margin-top: 2px;
  font-size: 2.8rem;
}
header .header__information div {
  display: flex;
  flex-direction: column;
}
header .header__information div>div{
  display: flex;
  flex-direction: row;
}
header .header__information div>div>img {
  width: 15px;
  margin-right: 5px;
  filter: invert(1);
}
header .header__information div>div p {
  font-size: 1.4rem;
  color: #c4c4c4;
}


main {
  min-height: calc(100vh - 20rem);
  padding: 0 10px;
  margin: 20px 0px;
  padding-bottom: 30px;
}
main .botones {
  width: 100%;
  height: 250px;
  margin: 200px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .botones button {
  padding: 0;
  border: none;
  background: none;
}
main .botones .descuento {
  background-image: url("./1010/imgs/descuento.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 100px;
}
main .botones .descuento p {
  font-size: 1.6rem;
  margin-left: 70px;
}
main .botones .menu {
  background-image: url("./1010/imgs/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 100px;
}
main .botones .menu p {
  font-size: 1.6rem;
  margin-left: 65px;
}
main .promociones__caja {
  width: 100%;
  height: auto;
  margin: 100px auto;
}
main .promociones__caja h3 {
  color: #c4c4c4;
  font-size: 2.5rem;
  font-style: italic;
  margin-left: 10px;
}
main .promociones__caja .promos__unidades {
  margin: 30px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main .promociones__caja .promos__unidades .promo {
  width: 150px;
  height: 230px;
  background-color: #000000;
  border-radius: 20px;
  margin: 15px 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.81);
  -moz-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.81);
  box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.81);
}
main .promociones__caja .promos__unidades .promo img {
  width: 100%;
}
main .promociones__caja .promos__unidades .promo .info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .promociones__caja .promos__unidades .promo .info .precio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .promociones__caja .promos__unidades .promo .info .precio .titulo {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin: 0;
}
main .promociones__caja .promos__unidades .promo .info .precio .antes {
  font-size: 1.3rem;
  color: #c4c4c4;
}
main .promociones__caja .promos__unidades .promo .info .precio .antes del {
  text-decoration: line-through;
  color: rgb(252, 116, 116);
}
main .promociones__caja .promos__unidades .promo .info .precio .hoy {
  font-size: 1.8rem;
  color: rgb(255, 218, 126);
  font-weight: bold;
}

main .menu__caja {
  width: 100%;
  height: calc(100vh - 150px);
  border-radius: 15px;
  background: linear-gradient(216deg, rgba(15,24,99,1) 0%, rgba(48,8,50,1) 49%, rgba(0,0,0,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.81);
  -moz-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.81);
  box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.81);
}
main .menu__caja>h3 {
  color: #c4c4c4;
  font-size: 2.5rem;
  font-style: italic;
  padding: 5px;
  margin-top: 10px;
}
main .menu__caja .menu__lista {
  width: 100%;
  height: 50px;
}
main .menu__caja .entrada {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.entrada .buscador {
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.buscador input {
      width: 100%;
      height: 30px;
      min-width: 150px;
      max-width: 400px;
      padding: 0 10px;
      border: none;
      background: transparent;
      color: white;  
}
.buscador input:focus {
  outline: none;
}
.buscador hr {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.452);
  margin: 0 auto 20px auto;
}
.entrada #boton {
  width: 10%;
  background-image: url("./1010/imgs/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: invert(1);
  margin-right: 10px;
}
main .proyectos {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.396);
  overflow: scroll;
}

/*
CSS del menu contextuaLXDXD
*/
.proyecto {
  width: 100%;
  display: flex;
  padding: 10px ;
}
.proyectos {
  color: #ffffff;
  font-size: 1,5rem;
}
.proyecto > .servicio {
  width: 10%;
  min-width: 70px;
  min-height: 70px;
  display: flex;
}
.proyecto .servicio img {
 width: 100%;
 margin: auto;
}
.proyecto .descripcion {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
  margin: 0px auto 0px 5px;
  justify-content: space-around;
}
.descripcion .name {
  text-decoration: none;
}
.descripcion .name h3{
  color: white;
  font-size: 1.5rem;
  padding: 1px 0;
}
.descripcion p {
  font-size: 1.5rem;
  padding: 1px 0;
}
.descripcion h4 {
  font-size: 1.7rem;
  padding: 1px 0;
}
.descripcion .formatos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.formatos > div {
  margin: 5px;
  border-radius: 4px;
  padding: 2px 3px;
}
.formatos .price {
  background-color: rgb(235, 200, 3);
  color: rgb(76, 3, 3);
  font-weight: 400;
}
.proyectos hr {
  margin: 0 auto;
  width: 99%;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.112);
}


footer {
  width: 100%;
  height: auto; 
  padding: 5px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
footer img {
  width: 55px;
  height: 55px;
  border-radius: 55%;
  filter: contrast(1.3);
}
footer h2 {
  max-width: 210px;
  padding: 10px 0 5px 0;
  text-align: center;
  margin: 0 auto;
  font-size: 1.7rem;
  font-weight: bold;
  color: #c4c4c4;
}
footer .costado {
  margin: 0 auto;
  width: 200px;
  display: flex;
  flex-direction: row;
}
.costado span {
  width: 50%;
}
.costado h4 {
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
}
footer .redes {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 5px;
}
.redes a > img {
  width: 25px;
  height: auto;
  filter: invert(1);
  margin: 0 7px;
  border-radius: 0%;
}
footer hr {
  width: 50%;
  max-width: 700px;
  border: none;
  height: 1px;
  background-color: gray;
  margin: 0 auto;
  margin-bottom: 10px;
}
footer p {
  margin: 0 auto;
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 25px;
  max-width: 350px;
  color: #c4c4c4;
}